body {
    background-image: url('./../img/pexels-jaymantri-5439.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  h2.a {
    display: block;
    font-size: 3.0em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    color: black;
    text-align: center;
  }
  
  /* flexbox CSS*/

  .flex-container {
    display: flex;
    justify-content: space-around;
  }
  
  .flex-container > div {
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }

  ul.a {

    list-style-type:none;
  }

  li.a1 {
    text-align: center;
    color:cyan;
    font-size:30px;
  }

  li.a2 {
    text-align: center;
    color: black;
    font-size:30px;
    font-style: italic;
  }

  li.b1 {
    text-indent: 10px;
    padding: 10px;
    color:lightsalmon;
    background-color: lightgray;
    font-size:20px;
  }

  li.b2 {

    alt="Trulli";
    width="200px";
  }

  li.b3 {

    color: black;
    background-color: lightgreen;
    text-align: center;
    font-size:15px;
    font-style: italic;
  }

  li.b4 {
    background-color: lightgreen;
    text-align: center;
    font-size:10px;
    font-style: italic;
  }

  .img {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }