{% extends "base.html" %}

{% block content %}

  <div class="jumbotron">
    <h1>Welcome to Pizza Outside-In (POI)</h1>
    <h3>What is your innovation strategy? Outside-in or Inside-out?</h3>
    <p>Definitions: </p>
    <ul>
      <li>Inside-Out: an approach that is conducted around the belief that an organization's capabilities and inner strengths are more valuable than outside influences, and will be the key to success.</li>
      <li>Outside-In: an approach that is conducted by the thought process that customer value creation, customer insights, and customer experiences are the keys to success.</li>
    </ul>
    <p>When it came to innovation, Steve Jobs was very opinionated in regard to receiving customer feedback through the outside-in mentality. He has stated:
      <em>
        “It's really hard to design products by focus groups. A lot of times, people don't know what they want until you show it to them.”
      </em>
    </p>
    <p>We in POI established that eating to, collecting, and carrying pizza could be a lot easier, and it also needed to look good while doing it. Our product is not a result of round-table discussions or basic wants/needs surveys that companies typically conduct.</p>
    <p>That's why we implementing the cutting edge technology to pizza manufacturing by using Outside-In approach!</p>
    <p>That's exactly why we invite you to Pizza Outside-In (POI)</p>

    <a href="{{url_for('sign_up')}}">Wonna sign up? Click here!</a>
  </div>
{% endblock %}
