<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>QDPS about</title>
    <!-- Google fonts -->
    <link href = "https://fonts.googleapis.com/css?family=Montserrat" rel = "stylesheet">
    <!-- Bootstrap CSS from CDN-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- my own style-->
    <link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">

      <img class="logo" src="https://upload.wikimedia.org/wikipedia/commons/d/d5/Hey_Machine_Learning_Logo.png">
        <!-- {{ url_for('static', filename='logo.png') }}-->

      <div class="container-fluid">

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="navigation">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="index.html">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Operation
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="flow_chart.html">Flow chart</a></li>
                <li><a class="dropdown-item" href="procedure.html">Procedure</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="intro_project.html">Introduce project</a></li>
                <li><a class="dropdown-item" href="intro_press.html">Introduce press</a></li>
              </ul>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Tool
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="library.html">Your Library</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="admin.html">QDPS Admin</a></li>
              </ul>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                About
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item current" href="about_QDPS.html">General introduction</a></li>
                <li><a class="dropdown-item" href="QDPS_config.html">QDPS config FAQ</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">QDPS @Confluence</a></li>
              </ul>
            </li>

          </ul>
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>

    <div class="tab">
      <button class="tablinks" onclick="openItem(event, 'UserAccess')">User access</button>
      <button class="tablinks" onclick="openItem(event, 'Settings')">Settings</button>
      <button class="tablinks" onclick="openItem(event, 'Statistics')">Statistics</button>
    </div>

    <div id="UserAccess" class="tabcontent pagebreak">
      <h3>User access</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In quis aliquam diam. Vivamus feugiat nisl quis ante varius vulputate. Morbi hendrerit vestibulum orci et posuere. Donec malesuada accumsan malesuada. Proin laoreet, ex vitae consequat dapibus, diam ipsum ornare lorem, vitae tempor leo dui tempus mauris. Fusce pretium laoreet quam. Curabitur vestibulum nunc quis tellus fermentum, porttitor auctor sem varius. Ut tristique ligula non augue porta pretium. Nulla eu erat at orci hendrerit pulvinar. Nulla efficitur tristique augue, eu imperdiet neque luctus in. Vivamus maximus eros leo. Pellentesque elementum ornare turpis id rhoncus. Sed dictum euismod tortor, sit amet gravida eros accumsan id..</p>
    </div>

    <div id="Settings" class="tabcontent">
      <h3>Settings</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In quis aliquam diam. Vivamus feugiat nisl quis ante varius vulputate. Morbi hendrerit vestibulum orci et posuere. Donec malesuada accumsan malesuada. Proin laoreet, ex vitae consequat dapibus, diam ipsum ornare lorem, vitae tempor leo dui tempus mauris. Fusce pretium laoreet quam. Curabitur vestibulum nunc quis tellus fermentum, porttitor auctor sem varius. Ut tristique ligula non augue porta pretium. Nulla eu erat at orci hendrerit pulvinar. Nulla efficitur tristique augue, eu imperdiet neque luctus in. Vivamus maximus eros leo. Pellentesque elementum ornare turpis id rhoncus. Sed dictum euismod tortor, sit amet gravida eros accumsan id.</p>
    </div>

    <div id="Statistics" class="tabcontent">
      <h3>Statistics</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In quis aliquam diam. Vivamus feugiat nisl quis ante varius vulputate. Morbi hendrerit vestibulum orci et posuere. Donec malesuada accumsan malesuada. Proin laoreet, ex vitae consequat dapibus, diam ipsum ornare lorem, vitae tempor leo dui tempus mauris. Fusce pretium laoreet quam. Curabitur vestibulum nunc quis tellus fermentum, porttitor auctor sem varius. Ut tristique ligula non augue porta pretium. Nulla eu erat at orci hendrerit pulvinar. Nulla efficitur tristique augue, eu imperdiet neque luctus in. Vivamus maximus eros leo. Pellentesque elementum ornare turpis id rhoncus. Sed dictum euismod tortor, sit amet gravida eros accumsan id.</p>
    </div>

    <div class="hero-image">
      <div class="hero-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pharetra elit ut ante rhoncus mollis.

      </div>
    </div>

    <footer class="bg-light text-center text-white container_footer">
        <!-- Grid container -->
      <div class="container p-4 pb-0">
        <form action="">
          <!--Grid row-->
          <div class="row">
          <!--Grid column-->
          <div class="col-auto mb-4 mb-md-0">
              <!-- Submit button -->
              <button type="submit" class="btn btn-primary mb-4">
                Apply
              </button>
          </div>
            <!--Grid column-->
            <!--Grid column-->
          <div class="col-auto mb-4 mb-md-0">
              <!-- Submit button -->
              <button type="submit" class="btn btn-primary mb-4">
                Save
              </button>
          </div>
            <!--Grid column-->
            <!--Grid column-->
          <div class="col-auto mb-4 mb-md-0">
              <!-- Submit button -->
              <button type="submit" class="btn btn-primary mb-4" type="button" id="toright">
                Cancel
              </button>
          </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->
        </form>
      </div>
      <!-- Grid container -->

    </footer>

    <!-- Bootstrap JS from CDN-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <script>
        function openItem(evt, itemName) {
          var i, tabcontent, tablinks;
          tabcontent = document.getElementsByClassName("tabcontent");
          for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
          }
          tablinks = document.getElementsByClassName("tablinks");
          for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
          }
          document.getElementById(itemName).style.display = "block";
          evt.currentTarget.className += " active";
        }
    </script>
</body>
</html>