<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>QDPS</title>
    <!-- Google fonts -->
    <link href = "https://fonts.googleapis.com/css?family=Montserrat" rel = "stylesheet">
    <!-- Bootstrap CSS from CDN-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- my own style-->
    <link rel="stylesheet" href="./../static/style1.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">QDPS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="navigation">
            <li class="nav-item current">
              <a class="nav-link active" aria-current="page" href="index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">QDPS @Confluence</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Operation
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="flow_chart.html">Flow chart</a></li>
                <li><a class="dropdown-item" href="procedure.html">Procedure</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="intro_project.html">Introduce project</a></li>
                <li><a class="dropdown-item" href="intro_press.html">Introduce press</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="about_QDPS.html">About QDPS</a>
            </li>
          </ul>
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>

    <header class = "qdps text-center test-white d-flex">
        <div class = "container my-auto">
            <div class = "row">
                <div class = "col-lg-12 my-auto">
                    <h1 class = "text-uppercase faded">
                        <strong> Qual Data Processing Script (QDPS)</strong>
                    </h1>
                </div>
            </div>
        </div>
    </header>

    <div class="hero-image">
      <div class="hero-text">
          <div class="container_login_btn">
              <div class="center_login_btn">
                  <button onclick="document.getElementById('id01').style.display='block'" style="width:200px">Login</button>
              </div>
          </div>
      </div>
    </div>

    <div id="id01" class="modal">

      <form class="modal-content animate" action="/action_page.php" method="post">
        <div class="imgcontainer">
          <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
          <img src="./../static/Avatar.png" alt="Avatar" class="avatar">
        </div>

        <div class="container">
          <label for="uname"><b>Username</b></label>
          <input type="text" placeholder="Enter Username" name="uname" required>

          <label for="psw"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="psw" required>

          <button class = "btn btn-primary btn-xl" type="submit">Welcome on board</button>

          <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
          </label>
        </div>

        <div class="container" style="background-color:#f1f1f1">
          <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
          <span class="psw">Forgot <a href="#">password?</a></span>
        </div>
      </form>
    </div>

    <footer class="bg-light text-center text-white container_footer">
        <!-- Grid container -->
      <div class="container p-4 pb-0">
        <form action="">
          <!--Grid row-->
          <div class="row">
          <!--Grid column-->
          <div class="col-auto">
              <p class="pt-2 text-black"> current work week #: <strong id="demo"></strong></p>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-auto mb-4 mb-md-0">
              <!-- Submit button -->
              <button type="submit" class="btn btn-primary mb-4">
                Save
              </button>
          </div>
            <!--Grid column-->
            <!--Grid column-->
          <div class="col-auto mb-4 mb-md-0">
              <!-- Submit button -->
              <button type="submit" class="btn btn-primary mb-4">
                Publish
              </button>
          </div>
            <!--Grid column-->
            <!--Grid column-->
          <div class="col-auto mb-4 mb-md-0">
              <!-- Submit button -->
              <button type="submit" class="btn btn-primary mb-4" type="button" id="toright">
                Cancel
              </button>
          </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->
        </form>
      </div>
      <!-- Grid container -->

    </footer>

    <!-- Bootstrap JS from CDN-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="./../static/ISO_week_number.js"></script>

    <script>
    // Get the modal
    var modal = document.getElementById('id01');

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {

        height = document.getElementById("content").offsetHeight;
        width  = document.getElementById("content").offsetWidth;
        self.resizeTo(20, 40);

        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
    </script>

    <script>
        var d = new Date();
        d.setDate(d.getDate()+0); // += 1 is tomorrow, since we have 1x day shift for WW calculations in Israel

        // Copy date so don't modify original
        // d = new Date(Date.UTC(d.getFullYear(), d.getMonth(), d.getDate()));
        // Set to nearest Thursday: current date + 4 - current day number
        // Make Sunday's day number 7
        d.setUTCDate(d.getUTCDate() + 5 - (d.getUTCDay()||7));
        // Get first day of year
        var yearStart = new Date(Date.UTC(d.getUTCFullYear(),0,1));
        // Calculate full weeks to nearest Thursday
        var weekNo = Math.ceil(( ( (d - yearStart) / 86400000) + 1)/7);

        document.getElementById("demo").innerHTML = weekNo;
    </script>
</body>
</html>